# CreatorDigitalPro Environment Example
# Copy ke .env / ENV hosting. Jangan upload key asli ke GitHub public.
MIDTRANS_SERVER_KEY=ISI_SERVER_KEY_MIDTRANS_ANDA
MIDTRANS_CLIENT_KEY=ISI_CLIENT_KEY_MIDTRANS_ANDA
MIDTRANS_IS_PRODUCTION=false
